// ================== start home =============
.courses_before_subscribe {
  .all_content {
    margin: 40px 0;

    .course_info {
      margin-top: 30px;
      margin-bottom: 40px;
      h3 {
        font-size: 20px;
        margin-bottom: 32px;
        color: #1a1a1a;
        font-family: "Bahij-Helvetica-Neue-75-Bold";
      }
      p {
        color: #232323;
      }
    }

    .tabs {
      ul.nav-tabs {
        margin-bottom: 32px;
        border-bottom: 3px solid #bdccec;
        li {
          padding-inline-end: 44px;
          a {
            font-size: 18px;
            border: none;
            color: #000000;
            font-family: "Bahij-Helvetica-Neue-75-Bold";
            &.active {
              color: #013fcd;

              border-bottom: 3px solid $secondColor;
            }
          }
        }
      }

      .tab-content {
        .course_guide {
          .about_course {
            margin-bottom: 32px;
            h4 {
              font-size: 18px;
              margin-bottom: 30px;

              &:after {
                bottom: 0;
              }
            }
            ul {
              display: flex;
              // justify-content: space-between;
              flex-wrap: wrap;
              gap: 20px 90px;
              li {
                svg {
                  color: #3edb10;
                  font-size: 16px;
                }
              }
            }

            .table {
              border: 1px solid #bdccec;
              border-radius: 5px;

              thead {
                background: #013fcd;
                color: #fff;
                border-radius: 5px 5px 0px 0px;
              }

              tbody {
                color: #3b568f;
              }
            }
          }
        }

        .box_content_diploma {
          .accordion {
            background: none !important;

            .card {
              border: none;
              .card_head,
              .card-header {
                // padding-bottom: 0;
                background: none;
                border: none;

                button {
                  background: #ecf2ff;
                  border: none;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: #013fcd;
                  font-family: "Bahij-Helvetica-Neue-75-Bold";
                }
              }

              .card_head_inner {
                button {
                  background: #ffffff;
                  border: 1px solid #cfd8ec;
                  border-radius: 5px;
                  font-family: "BAHIJ_HELVETICA_55-NEUE_ROMAN";
                  color: #013fcd;
                }

                .inner {
                  border: 1px solid #cfd8ec;
                  border-radius: 5px;
                  padding: 15px;

                  .lessons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 16px;

                    .lesson {
                      color: #013fcd;
                      display: flex;
                      gap: 5px;
                    }
                    .discover {
                      background: #3edb;
                      border-radius: 3px;
                      color: #000;
                    }

                    .lock {
                      svg {
                        color: #8f9ebc;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .about_trainer {
          > P {
            color: #232323;
            font-size: 16px;
            padding-bottom: 20px;
          }

          .all_content_trainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 40px;

            .trainer_info {
              display: flex;
              gap: 20px;

              .image {
                width: 68px;
                height: 68px;

                img {
                  border-radius: 50%;
                }
              }

              .trainer_name {
                h4 {
                  color: #f7c553;
                  font-size: 18px;
                }

                span {
                  color: #3b568f;
                }
              }
            }

            .stars {
              display: flex;
              gap: 6px;

              .full {
                svg {
                  color: #f7c553;
                }
              }

              .empty {
                svg {
                  color: #bdccec;
                }
              }
            }
          }
        }

        .rate_dipolma {
          .total_rate {
            box-shadow: 0px 3px 16px #bdccec94;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;

            span {
              &.percentage {
                font-family: "Bahij-Helvetica-Neue-75-Bold";
                color: #f7c553;
                font-size: 42px;
              }
            }
          }

          .rate_one {
            display: flex;
            gap: 16px;
            padding: 20px 0;
            border-bottom: 1px solid #bdccec;
            margin-bottom: 20px;

            .image {
              min-width: 54px;
              height: 54px;
              border: 1px solid #ecf2ff;
              border-radius: 50%;
              img {
                border-radius: 50%;
                height: 100%;
              }
            }

            .rate_body {
              width: 100%;
              .rate_info {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                span.name {
                  font-family: "Bahij-Helvetica-Neue-75-Bold";
                  color: #013fcd;
                }
              }

              > p {
                color: #232323;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .side_info {
      border: 1px solid #bdccec;
      border-radius: 5px;
      min-height: 712px;

      .image_video {
        img {
          border: 1px solid #bdccec;
          border-radius: 5px 5px 0px 0px;
          height: 270px;
          object-fit: cover;
        }

        .video {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 62px;
          height: 62px;

          .icon {
            width: 40px;
            height: 40px;
            svg {
              height: 15px;
            }
          }
        }
      }

      .price {
        margin: 17px 0 10px;
        text-align: center;
        span {
          color: #f7c553;
          font-size: 32px;

          &.num {
            font-size: 42px;
            margin-inline-end: 15px;
            font-family: "Bahij-Helvetica-Neue-75-Bold";
          }
        }
      }

      button {
        background: #3f63b6;
        width: 95%;
        margin: 0 auto 20px;

        &:hover,
        &:focus {
          background: #fff;
        }
      }

      ul {
        padding: 0 20px;
        gap: 20px 0;
        display: flex;
        flex-direction: column;
        li {
          display: flex;
          justify-content: space-between;
          padding-bottom: 14px;
          border-bottom: 1px solid #93a9d9;

          &:last-child {
            border: none;
          }

          a.result {
            text-decoration: underline !important;
          }

          .detail {
            display: flex;
            align-items: center;
            gap: 3px;

            svg {
              color: #93a9d9;
              width: 20px;
              height: 20px;
            }
            span {
            }
          }

          span.result {
            color: #6e6e6e;
          }
        }
      }
    }
  }
}

.stars {
  display: flex;
  gap: 6px;

  .full {
    svg {
      color: #f7c553;
    }
  }

  .empty {
    svg {
      color: #bdccec;
    }
  }
}

.inner {
  border: 1px solid #cfd8ec;
  border-radius: 5px;
  padding: 15px;

  .lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .lesson {
      color: #013fcd;
      display: flex;
      gap: 5px;
    }
    .discover {
      background: #3edb;
      border-radius: 3px;
      color: #000;
    }

    .lock {
      svg {
        color: #8f9ebc;
      }
    }
  }
}
// ================== end home ===============
