// ================ start footer ==================
footer {
  overflow: hidden;
  .partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    padding: 15px 0;
    background: #f1f5ff;

    img {
      width: 80px;
      max-height: 80px;
      mix-blend-mode: darken;
    }
  }

  .footer_content {
    background-image: url("@/assets/images/footer_backg.svg");
    @include backgroundImage;
    padding: 100px 0 70px;

    .image_logo {
      img {
        max-width: 191px;
        height: 53px;
      }
      margin-bottom: 33px;
    }

    ul.info_contact {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 10px;
      li {
        display: flex;
        gap: 10px;
        span {
          color: #3f64b8;
          svg {
            width: 16px;
            height: 16px;
          }
        }
        a {
          color: #0c0c0c;
        }
      }
    }

    ul.social {
      display: flex;
      flex-direction: row;
      gap: 22px;
      margin-top: 25px;

      li {
        display: flex;
        gap: 10px;
        a {
          color: #3f64b8;
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    h3 {
      margin-bottom: 32px;
      &.main_head::after {
        height: 9px;
        bottom: 6px;
      }
    }

    .site_links {
      .all_site_pages {
        display: flex;
        gap: 70px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 18px;
          li {
            a {
              color: #0c0c0c;
              transition: 0.5s;

              &:hover {
                color: #013fcd;
              }
            }
          }
        }
      }
    }
  }
  .copy_right {
    padding: 23px 0 15px;
    border-top: 2px solid #eee;

    .cont_img {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
    }

    p,
    .cont_img {
      color: #4e4e4e;
    }
    .image {
      img {
        width: 15px;
      }
    }
  }
}

.mapping {
  width: 100%;
  height: 161px;

  iframe {
    width: 100%;
    height: 100%;
  }
}
// ================ end footer ====================
