// ============ style en ===========
html[lang="en-US"] body {
  direction: ltr;
  text-align: left;

  header .staticis {
    right: 0;
    left: auto;
    border-radius: 141px 0 0 0;
  }

  .eye {
    left: auto;
    right: 20px;
  }

  .courses_component .card_content {
    .appoint {
      justify-content: flex-end;

      .calender {
        flex-direction: row-reverse;
      }
    }
    .course_link a {
      flex-direction: row-reverse;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  .image_video .video {
    left: auto;
    right: 65px;
  }
}

// ============ style en ===========
